@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background: #7BD3EA;
}
::selection{
  color: #fff;
  background: #618cf8;
}
.wrapper{
  margin: 50px;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fill, 265px);
}
.wrapper li{
  height: 250px;
  list-style: none;
  border-radius: 20px;
  padding: 15px 20px 20px;
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.note{
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 10px -5px rgb(0 0 0 / 16%), 0 16px 24px 2px rgb(0 0 0 / 11%), 0 6px 30px 5px rgb(0 0 0 / 10%);
  /* justify-content: space-between; */
}
.note .details{
  max-height: 165px;
  overflow-y: auto;
}
.note .details::-webkit-scrollbar,
.popup textarea::-webkit-scrollbar{
  width: 0;
}
.note .details:hover::-webkit-scrollbar,
.popup textarea:hover::-webkit-scrollbar{
  width: 5px;
}
.note .details:hover::-webkit-scrollbar-track,
.popup textarea:hover::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}
.note .details:hover::-webkit-scrollbar-thumb,
.popup textarea:hover::-webkit-scrollbar-thumb{
  background: #e6e6e6;
  border-radius: 25px;
}
.note p{
  font-size: 22px;
  font-weight: 500;
}
.note span{
  display: block;
  color: #575757;
  font-size: 16px;
  margin-top: 14px;
}
.note .bottom-content{
  padding-top: 6px;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}
.bottom-content span{
  color: #6D6D6D;
  font-size: 14px;
}
.bottom-content {
  position: relative;
}
.bottom-content i{
  color: #6D6D6D;
  cursor: pointer;
  font-size: 15px;
}

#popupForm {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
    min-width: 200px;
    border-radius: 20px;
    background-color: #F6D6D6;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

#popupForm h2 {
    text-align: center;
}

#popupForm form {
    display: block;
    flex-direction: column;
}

#popupForm label {
    margin-bottom: 8px;
}

#popupForm input,
#popupForm textarea {
    margin-bottom: 16px;
    padding: 8px;
    box-sizing: border-box;
    width: 100%;
}

#profileForm {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
    min-width: 200px;
    border-radius: 20px;
    background-color: #F6D6D6;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

#profileForm h2 {
    text-align: center;
}

#profileForm form {
    display: block;
    flex-direction: column;
}

#profileForm label {
    margin-bottom: 8px;
}

#profileForm input,
#profileForm textarea {
    margin-bottom: 16px;
    padding: 8px;
    box-sizing: border-box;
    width: 100%;
}

.dlt-btn{
    margin-top: -100px;
}

.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

#openFormBtn {
    position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:white;
    border: 20px;
	border-radius:50px;
	text-align:center;
}

#profileBtn {
    position:fixed;
    margin-right: 80px;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:white;
    border: 20px;
	border-radius:50px;
	text-align:center;
}

.my-float{
	margin-top:22px;
}

@media (max-width: 660px){
  .wrapper{
    margin: 15px;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, 100%);
  }
  .popup-box .popup{
    max-width: calc(100% - 15px);
  }
  .bottom-content .settings i{
    font-size: 17px;
  }
}

.titl{
    width: 100%;
    color: rgb(36, 35, 42);
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    min-height: 28px;
    border-radius: 4px;
    border: 2px solid transparent;
    background: rgb(251, 251, 251);
    transition: all 0.1s ease 0s;
    :focus{
        border: 2px solid rgb(124, 138, 255);
    }
}

.cont {
    width: 100%;
    color: rgb(36, 35, 42);
    font-size: 16px;
    height: 122px;
    line-height: 20px;
    min-height: 28px;
    border-radius: 4px;
    border: 2px solid transparent;
    background: rgb(251, 251, 251);
    transition: all 0.1s ease 0s;
    :focus{
        border: 2px solid rgb(124, 138, 255);
    }
}

.pro{
    height: 60px;
    border-radius: 100px;
  }